!!
html
  head
    script src='/assets/js/jquery.js'
    script src='/assets/js/bootstrap.js'
    script src='/assets/js/application.js'
    link href='http://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css'
    link href='/assets/css/bootstrap.css' rel='stylesheet' type='text/css'
    link href='/assets/css/application.css' rel='stylesheet' type='text/css'
  body
    .container-fluid
      .navbar.navbar-inverse
        .navbar-inner
          a.brand href="/" All Redis Keys

      @
